*{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    box-sizing:border-box ;
}

body{
    background-color: #000000;
    color: #fff;
}

#heading {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin: 1px auto 1px;    
    color:  #00e5ff;
}

.heading2 {
    text-align: center;
    margin: 1px auto 4px;    
    color:  #919191;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #000000;
    font-size: 18px;
    padding: 0 30px;
}

form button{
    padding: 0 40px;
    height: 100%;
    background-color: #090034;
    color: #484848;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
    font-size: 18px;
}

#show-more-btn{
    background-color:#ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}


/*************************************************/

.nav {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 50px;
    margin-top: 0px;
  }

  li {
    
    display: inline-block;
    
    margin: 20px;
  }

  li a {
    font-family: 'Aerial', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
  }

  #logo {
    font-family: 'Dancing Script', cursive;
    
    color: #0f005b;
  }
